body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: white;
}

/* Stick Social Bar */

.icon-bar {
  position: fixed;
  /* top: 30%; */
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.instagram {
  background: #FF00FF;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.github {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

/* End Social Bar */


.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(143, 142, 142);
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
  background-color: black;
  color: #000;
}

.fa-bars {
  color: #fff;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    background-color: #000;
  }

  .fa-bars {
    color: #fff;*
  }

  .icon-bar {
  position: fixed;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}