body {
	background: #FFFF00;
	padding: 20px;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFFF00;
  background: #32CD32;
}

.fa:hover {
    opacity: 0.7;
	background: #696969;
	color: #32CD32;
	
}

.main {
	background: #FFFF00;
	height: 600px;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;
}

.socialLinks {
  background: #FFFF00;
  color: #32CD32;
  width: 600px;
  height: 600px;
  padding: 20px;
  overflow: hidden;
  
}

.socialLinks>h1 {
	color: #32CD32;
	font-size: 40px;
    font-family:Impact;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0px;
	
	
}

.socialLinks>h3 {
	color: #696969;
	font-size: 28px;
    font-family:Impact;
	display: grid;
	justify-content: center;
	align-items: center;

}

.socialLinks>list {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #FFFF00;
  }
  
  .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFFF00;
  background: #32CD32;
}

.fa:hover {
    opacity: 0.7;
	background: #696969;
	color: #32CD32;
	
}

.main {
	background: #FFFF00;
	height: 600px;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;
}

.socialLinks {
  background: #FFFF00;
  color: #32CD32;
  width: 600px;
  height: 600px;
  padding: 20px;
  overflow: hidden;
  
}

.socialLinks>h1 {
	color: #32CD32;
	font-size: 25px;
    font-family:Impact;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0px;
	
	
}

.socialLinks>h3 {
	color: #696969;
	font-size: 14px;
    font-family:Impact;
	display: grid;
	justify-content: center;
	align-items: center;

}

.socialLinks>list {
	display: flex;
	justify-content: center;
	align-items: center;
}