/* Dane Brynelson */

body {
	background: #FFFF00;
	padding: 20px;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFFF00;
  background: #32CD32;
}

.fa:hover {
    opacity: 0.7;
	background: #696969;
	color: #32CD32;
	
}

.fa-code {
	background: #FFFF00;
	color: #696969;
	padding: 5px;
	font-size: 28px;
	margin: 0;
}

.main {
	background: #FFFF00;
	/* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* /* bring your own prefixes */ */
  /* transform: translate(-50%, -50%); */
	height: 600px;
	width: 80%;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;
}

.socialLinks {
  background: #FFFF00;
  color: #32CD32;
  width: 600px;
  height: 600px;
  padding: 20px;
  overflow: hidden;
  
}

.socialLinks>h1 {
	color: #32CD32;
	font-size: 40px;
    font-family:Arial;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	
	
}

.socialLinks>h3 {
	color: #696969;
	font-size: 28px;
    font-family:Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;

}

.socialLinks>list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #FFFF00;
  }
  
  .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFFF00;
  background: #32CD32;
}

.fa:hover {
    opacity: 0.7;
	background: #696969;
	color: #32CD32;
	
}

.fa-code {
	background: #FFFF00;
	color: #696969;
	padding: 5px;
	font-size: 20px;
	margin: 0;
}

.main {
	background: #FFFF00;
	height: 600px;
	width: 80%;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;
}

.socialLinks {
  background: #FFFF00;
  color: #32CD32;
  width: 600px;
  height: 600px;
  padding: 20px;
  overflow: hidden;
  
}

.socialLinks>h1 {
	color: #32CD32;
	font-size: 25px;
    font-family:Arial;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	
	
}

.socialLinks>h3 {
	color: #696969;
	font-size: 14px;
    font-family:Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;

}

.socialLinks>list {
	display: flex;
	justify-content: center;
	align-items: center;
}

