* {
  box-sizing: border-box;
}

body {
	background: url("../img/dane_hana4.png") no-repeat center center fixed;
	background-size: contain;
	/*overflow: hidden;*/
    background-color: none;
    color: #FFF;
}

.rounded-circle {
	width: 400px;
	height: 400px;
}

.row {
  margin: 10px -16px;
}

.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFF;
  background: #2C703E;
}

.fab {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFF;
  background: #2C703E;
}

.fa:hover {
    background: #2C703E;
	color: #FFFF00;
	text-decoration: none;
}

.fab:hover {
    background: #2C703E;
	color: #FFFF00;
	text-decoration: none;
}

.fa-code {
	background: none;
	color: #FFF;
	padding: 5px;
	font-size: 28px;
	margin: 0;
}

.fa-code:hover {
	opacity: 1;
	background: none;
	color: #FFF;
	padding: 5px;
	font-size: 28px;
	margin: 0;
}

.main {
/*	background: #FFF;
*/	margin-top: 300px;
	margin-bottom: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;

}

.socialLinks {
	padding: 200;
  /*background: #FFF*/;
  font-size: 45px;
  color: #2C703E;
  overflow: hidden;
}

.socialLinks>h1 {
	color: #FFF;
	font-size: 80px;
    font-family:Arial;
    text-shadow: 5px 5px 5px #2C703E;
    font-weight: bolder;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.socialLinks>h3 {
	color: #FFF;
	font-size: 28px;
    font-family:Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

.socialLinks>list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing_btn .btn{
	text-align: center;
	width: 200px;
}

.landing_btn .btn:hover{
	color: #FFFF00;
}

.landing_btn a:hover {
	color: #FFFF00;
	border: none;
	text-decoration: none;
}

.container {
	padding-bottom: 50px;
}

.container>h1 {
    color: #FFF;
	text-align: center;
    text-shadow: 2px 2px 2px #2C703E;
    font-family:Impact;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFFF00;
    font-weight: bolder;
    background-color: rgba(0,0,0,0.8);
    border-color: #2C703E;
    border-bottom: none;
}

.nav-tabs {
    border-bottom: 1px solid #2C703E;
}

.tab-content {
	background-color: rgba(0,0,0,.8);
	border-left: 1px solid #2C703E;
	border-right: 1px solid #2C703E;
	border-bottom: 1px solid #2C703E;
	padding-bottom: 60px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: #2C703E;
	color: #FFFF00;
	background-color: rgba(0,0,0,0.8);
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}

a:hover {
    color: #2C703E;
    text-decoration: underline;
}

a {
    color: #FFF;
    font-weight: bolder;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.selected {
	color: #2C703E;
}

.btn {
    background-color: #2C703E;
    color: #FFF;
    width: 100px;    
}

.btn.selected {
	background-color: #2C703E;
	border-color: #FFF;
	border: 2px;
    color: #FFF;
    width: 100px; 
}

.btn.live {
	border-color: #fff;
}

.btn:hover {
	border-color: #FFFF00;
	color: #FFFF00;
	border-width: 1px;
}

.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #2C703E;
  color: #FFF;
  padding: 10px;
}

.show {
  display: block;
}

i {
	font-size: 6rem;
	padding: 5px;
	margin: 0;
}

.skills-icons {
	align-items: center;
	text-align: center;
}

.skills-icons>h3 {
	color: #FFF;
	text-align: center;
    text-shadow: 2px 2px 2px #2C703E;
    font-family:Impact;
}

.devicon {
	padding: 10px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
	border-radius: 50%;
	color: #FFF;
	background: #2C703E;
	font-size: 6rem;
}

@media only screen and (max-width: 600px) {
	body {
		background: url(../img/mobile.png) no-repeat center center fixed;
		background-size: cover;
		color: #FFF;
	}

	.fa {
		padding: 10px;
		text-align: center;
		text-decoration: none;
		margin: 5px;
		border-radius: 50%;
		color: #FFF;
		background: #2C703E;
	}

	.fab {
		padding: 10px;
		text-align: center;
		text-decoration: none;
		margin: 5px;
		border-radius: 50%;
		color: #FFF;
		background: #2C703E;
	}

	.fa:hover {
		background: #2C703E;
		color: #FFFF00;
		text-decoration: none;
	}

	.fab:hover {
		background: #2C703E;
		color: #FFFF00;
		text-decoration: none;
	}

	.fa-code {
		background: none;
		color: #FFF;
		padding: 5px;
		font-size: 28px;
		margin: 0;
}

	.fa-code:hover {
		opacity: 1;
		background: none;
		color: #FFF;
		padding: 5px;
		font-size: 28px;
		margin: 0;
	}

	.main {
		background: none;
		width: 80%;
		margin-top: 300px;
		margin-bottom: 300px;
		margin-left: auto;
		margin-right: auto;
		/*margin:auto;*/
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: auto;
		overflow-y: hidden;
		justify-content: center;
		align-items: center;
	}

	.socialLinks {
		background: none;
		font-size: 16px;
		color: #2C703E;
		overflow: hidden;
	}

	.socialLinks>h1 {
		color: #FFF;
		font-size: 22px;
	    font-family:Arial;
	    text-shadow: 5px 5px 5px #2C703E;
	    font-weight: bolder;
		display: grid;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.socialLinks>h3 {
		color: #FFF;
		font-size: 16px;
	    font-family:Arial;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	.socialLinks>list {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.btn {
		background-color: #2C703E;
		color: #FFF;
		padding: 10px;
		margin-top: 10px;
		width: 35%;    
	}

	.btn.selected {
		background-color: #2C703E;
		border-color: #FFF;
		border: 2px;
		padding: 10px;
		color: #FFF;
		width: 35%; 
	}

	.rounded-circle {
		width: 250px;
		height: 250px;
		align-items: center;
	}

	.column {  
		width: 100%;
	}

	#demo {
		width: 100%;
	}

	li.nav-item {
		font-size: 0.86rem;
	}
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){

	.main {
		background: none;
		width: 80%;
		margin-top: 300px;
		margin-bottom: 300px;
		margin-left: auto;
		margin-right: auto;
		/*margin:auto;*/
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: auto;
		overflow-y: hidden;
		justify-content: center;
		align-items: center;
	}

	.socialLinks>h1 {
		color: #FFF;
		font-size: 22px;
	    font-family:Arial;
	    text-shadow: 5px 5px 5px #2C703E;
	    font-weight: bolder;
		display: grid;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.socialLinks>h3 {
		color: #FFF;
		font-size: 16px;
	    font-family:Arial;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	li.nav-item {
		font-size: 0.86rem;
	}
}


@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){

	.socialLinks>h1 {
		color: #FFF;
		font-size: 22px;
	    font-family:Arial;
	    text-shadow: 5px 5px 5px #2C703E;
	    font-weight: bolder;
		display: grid;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.socialLinks>h3 {
		color: #FFF;
		font-size: 16px;
	    font-family:Arial;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	li.nav-item {
		font-size: 0.86rem;
	}
}