* {
  box-sizing: border-box;
}

body {
    background-color: #FFFF00;
    color: #32CD32;
}

/*#demo {
	width: 400px;
}
*/
.rounded-circle {
	width: 400px;
	height: 400px;
	align-items: center;
}

.row {
  margin: 10px -16px;
}

.fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFFF00;
  background: #32CD32;
  
}

.fa:hover {
    opacity: 0.7;
	background: #696969;
	color: #32CD32;
	text-decoration: none;
	
}

.fa-code {
	background: #FFFF00;
	color: #696969;
	padding: 5px;
	font-size: 28px;
	margin: 0;
}

.fa-code:hover {
	opacity: 1;
	background: #FFFF00;
	color: #696969;
	padding: 5px;
	font-size: 28px;
	margin: 0;
}

.main {
	background: #FFFF00;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;
}

.socialLinks {
  background: #FFFF00;
  font-size: 30px;
  color: #32CD32;
  /* padding: 20px; */
  overflow: hidden;
  margin-bottom: -5px;
}

.socialLinks>h1 {
	color: #32CD32;
	font-size: 40px;
    font-family:Arial;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	
	
}

.socialLinks>h3 {
	color: #696969;
	font-size: 28px;
    font-family:Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;

}

.socialLinks>list {
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 10px; */
}

.container {
	padding-bottom: 50px;
}

.container>h1 {
    color: #FFF;
	text-align: center;
    text-shadow: 2px 2px 2px #32CD32;
    font-family:Impact;
    
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFFF00;
    background-color: #32CD32;
    border-color: #32CD32;
}

.nav-tabs {
    border-bottom: 1px solid #32CD32;
}

.tab-content {
	border-left: 1px solid #32CD32;
	border-right: 1px solid #32CD32;
	border-bottom: 1px solid #32CD32;
	padding-bottom: 60px;
}

    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-color: #32CD32;
    }

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}

a:hover {
    color: #32CD32;
    text-decoration: underline;
}

a {
    color: #32CD32;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/*.active {
    color: #32CD32;
}*/
.selected {
	color: #32CD32;
}

.btn {
    background-color: #32CD32;
    color: #FFFF00;
    width: 100px;    
}

.btn.selected {
	background-color: #32CD32;
	border-color: #FFF;
	border: 2px;
    color: #FFFF00;
    width: 100px; 
}
.btn.live {
	border-color: #fff;
}

.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #32CD32;
  color: #FFFF00;
  padding: 10px;
}

.show {
  display: block;
}

/*.modal-content {
    background-color: #FFFF00;
}

.modal-header {
    background-color: #FFFF00;
}

.modal-body {
    background-color: #FFFF00;
}

.btn-primary {
    color: #FFFF00;
    background-color: #32CD32;
    border-color: #32CD32;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FFFF00;
    border-color: #FFF;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #FFF;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #FFF;
}

.btn-primary:hover {
    color: #32CD32;
    background-color: #FFF;
    border-color: #FFF;
}

.btn-primary.outline.active {
    background-color: #32CD32;
}

.btn-secondary {
    color: #FFFF00;
    background-color: #32cd32;
    border-color: #32CD32;
}

.btn-secondary:hover {
    color: #32CD32;
    background-color: #FFF;
    border-color: #FFF;
}*/

i {
	font-size: 6rem;
	padding: 5px;
	margin: 0;
}

.skills-icons {
	align-items: center;
	text-align: center;
}

.skills-icons>h3 {
	color: #FFF;
	text-align: center;
    text-shadow: 2px 2px 2px #32CD32;
    font-family:Impact;
}

.devicon {
	padding: 10px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
	border-radius: 50%;
	color: #FFFF00;
	background: #32CD32;
	font-size: 6rem;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: #FFFF00;
    color: #32CD32;
  }
  
 .fa {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFFF00;
  background: #32CD32;
  
}

.fa:hover {
    opacity: 0.7;
	background: #696969;
	color: #32CD32;
	text-decoration: none;
	
}

.fa-code {
	background: #FFFF00;
	color: #696969;
	padding: 5px;
	font-size: 28px;
	margin: 0;
}

.main {
	background: #FFFF00;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;
}

.socialLinks {
  background: #FFFF00;
  font-size: 18px;
  color: #32CD32;
  /* padding: 20px; */
  overflow: hidden;
  
}

.socialLinks>h1 {
	color: #32CD32;
	font-size: 28px;
    font-family:Arial;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	
	
}

.socialLinks>h3 {
	color: #696969;
	font-size: 18px;
    font-family:Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;

}

.socialLinks>list {
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 10px; */
}

.btn {
    background-color: #32CD32;
    color: #FFFF00;
    padding: 10px;
    margin-top: 10px;
    width: 35%;    
}

.btn.selected {
	background-color: #32CD32;
	border-color: #FFF;
	border: 2px;
	padding: 10px;
    color: #FFFF00;
    width: 35%; 
}

.rounded-circle {
	width: 250px;
	height: 250px;
	align-items: center;
}

.column {  
  width: 100%;
}

#demo {
	width: 100%;
}
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){

.socialLinks>h1 {
	color: #32CD32;
	font-size: 24px;
    font-family:Arial;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
}


@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){

.socialLinks>h1 {
	color: #32CD32;
	font-size: 22px;
    font-family:Arial;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.socialLinks>h3 {
	color: #696969;
	font-size: 16px;
    font-family:Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

}