body {
  background-color: darkslategray;
}

.item1 {
  background: lightgreen;
  grid-area: info;
}

.item2 {
  background: lightyellow;
  grid-area: about;
}

.item3 {
  background: lightcoral;
  grid-area: contact;
}

.container {
  font-size: 40px;
  min-height: 300px;
  width: 100%;
  background: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:  "info info info"
                        "about about about"
                        "contact contact contact";
}

header {
  text-align: center;
}

main {
  text-align: center; 
}

h1 {
  padding-top: 10px;
}

/* The navigation bar */
#nav-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 24px;
  overflow: hidden;
  background-color: darkslategray;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-top: 10px;
}

/* Links inside the navbar */
#nav-bar a {
  /* float: left; */
  display: inline;
  color: #f2f2f2;
  text-align: center;
  width: 75%;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

/* Change background on mouse-over */
#nav-bar a:hover {
  color: #FFFF00;
}

img {
  display: block;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#contact-img {
  padding-top: 0em;
  width: 30%;
  height: auto;
}

.prod-box {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  width: 98%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* .rounded-circle {
  padding-top: 0;
    width: 30%;
    height: 30%;
} */

video {
  width: 65%;
  height: auto;
} 

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 24px;
  overflow: hidden;
  background-color: darkslategray;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #f2f2f2;
}

footer a:hover {
  text-decoration: none;
  color: #FFFF00;
}

/* .fab {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  color: #FFF;
}


.fab:hover {
  color: #FFFF00;
  text-decoration: none;
  margin-bottom: 1px;
} */