body {
    background-color: cornflowerblue;
}

main {
    text-align: center;
}

#title {
    justify-items: center;
}

#description {
    color: #363636;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    text-shadow: 1px 0px #FFF;
}

.form-group {
    float: left;
    background-color: darkgrey;
    text-align: left;
    padding: 5px 5px 5px 5px;
}

#survey-form {
    padding: 5px;
}

#name-label input {
    width: 99%;
}

#email-label input {
    width: 99%;
}

#age-label number {
    width: 99%;
}